{{ $baseurl := .Site.BaseURL }}
<div class="row">
    {{range $index, $page := (.Paginator 20).Pages}}
    {{ if and (modBool $index 3) (ne 0 $index) }}
</div>
<div class="row" align="center">
    {{ end }}
    <div class="col-sm-6 col-sm-offset-3 centered">
            <a href="{{ .Permalink }}">
                <h2 align="center">{{.Title}}</h2>
                <figure class="full-width">
                    {{if .Params.banner }}<img src="{{ .Params.banner }}" class="full-width"/>{{ end }}
                    <!--<figcaption>{{.Description}} ({{ .Date.Format "2 Jan 2006" }})</figcaption>-->
                </figure>
            </a>
            <p>
                {{if .Params.categories }}
                Catigories:
                {{ range $index, $category := .Params.categories }}
                <a href="{{$baseurl}}/categories/{{ $category | urlize }}/">{{ $category }}</a>
                {{ end }}
                {{end}}
            </p>
            <!--<p>{{ .Summary }}</p>-->
            <p>
                {{if .Params.tags }}
                Tags:
                {{ range $index, $tag := .Params.tags }}
                <a href="{{$baseurl}}/tags/{{ $tag | urlize }}/">#{{ $tag }}</a>
                {{ end }}
                {{end}}
        <hr/>
    </div>
    {{ end }}
</div>
