<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
<!--                 <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-square-o fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x"></i>
                                </span>
                </a> -->
                <a href="https://www.facebook.com/marinika.krylova" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-square-o fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x"></i>
                                </span>
                </a>
                <a href="https://www.instagram.com/marinikakrylova/" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-square-o fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x"></i>
                                </span>
                </a>
                <a href="mailto:Marinika.krylova@yandex.ru">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-square-o fa-stack-2x"></i>
                                    <i class="fa fa-envelope fa-stack-1x"></i>
                                </span>
                </a>
            </div>
        </div>
    </div>
    <!--{{ partial "tags" . }}-->
</footer>
