<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ui class="nav navbar-nav">
            <li><a href="{{ .Site.BaseURL }}">HOME</a></li>
            <!--<li><a href="{{ .Site.BaseURL }}/backstage/">BACKSTAGE</a></li>-->
            <!--<li><a href="{{ .Site.BaseURL }}/looks/">LOOKS</a></li>-->
            <!--<li><a href="{{ .Site.BaseURL }}/portraits/">PORTRAITS</a></li>-->
            <li class="dropdown">
                <a href="{{ .Site.BaseURL }}/campaigns/">CAMPAIGNS<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ .Site.BaseURL }}/campaigns/brezhneva/">Вера Брежнева для Pe for Girls & Ruban</a></li>
                    <!--<li><a href="{{ .Site.BaseURL }}/campaigns/">Все фотосеты</a></li>-->
                </ul>
            </li>
            <li class="dropdown">
                <a href="{{ .Site.BaseURL }}/magazines/">MAGAZINES<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ .Site.BaseURL }}/magazines/n_mihalkova/">Надежда Михалкова для Buro 24/7</a></li>
                    <li><a href="{{ .Site.BaseURL }}/magazines/s_ivanova/">Светлана Иванова для Buro 24/7</a></li>
                    <!--<li><a href="{{ .Site.BaseURL }}/campaigns/">Все фотосеты</a></li>-->
                </ul>
            </li>
            <li><a href="{{ .Site.BaseURL }}/about/">ABOUT</a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>