<div class="owl-carousel cap" style="display:none">
    <div class="item"><a href="/backstage/backstage1/"><figure class="cap-bot"><img src="/img/thumb/01.jpg"><figcaption>Backstage 1</figcaption></figure></a></div>
    <div class="item"><a href="/backstage/backstage2/"><figure class="cap-bot"><img src="/img/thumb/02.jpg"><figcaption>Backstage 2</figcaption></figure></a></div>
    <div class="item"><a href="/portraits/portrait1/"><figure class="cap-bot"><img src="/img/thumb/03.jpg"><figcaption>Portrait 1</figcaption></figure></a></div>
    <div class="item"><a href="/campaigns/campaign1/"><figure class="cap-bot"><img src="/img/thumb/04.jpg"><figcaption>Campaign 1</figcaption></figure></a></div>
    <div class="item"><a href="/campaigns/campaign2/"><figure class="cap-bot"><img src="/img/thumb/01.jpg"><figcaption>Campaign 1</figcaption></figure></a></div>
    <div class="item"><a href="/magazines/magazin1/"><figure class="cap-bot"><img src="/img/thumb/02.jpg"><figcaption>Magazin 1</figcaption></figure></a></div>
    <div class="item"><a href="/looks/look1/"><figure class="cap-bot"><img src="/img/thumb/03.jpg"><figcaption>Look 1</figcaption></figure></a></div>
    <div class="item"><a href="/about/"><figure class="cap-bot"><img src="/img/thumb/04.jpg"><figcaption>About</figcaption></figure></a></div>
</div>
