<div class="owl-carousel" style="display: none;">
<!--  
    <div class="item"><a href="{{ .Site.BaseURL }}/campaigns/birki/"><img src="/img/campaigns/birki/11.jpg"></a></div>
    <div class="item"><a href="{{ .Site.BaseURL }}/magazines/nmihalkova/"><img src="/img/magazines/buro247/nmihalkova/01.jpg"></a></div>
    <div class="item"><a href="{{ .Site.BaseURL }}/magazines/sivanova/"><img src="/img/magazines/buro247/sivanova/01.jpg"></a></div>
    <div class="item"><a href="{{ .Site.BaseURL }}/campaigns/brezhneva/"><img src="/img/campaigns/peforgirls/brezhneva/01.jpg"></a></div>
    <div class="item"><a href="{{ .Site.BaseURL }}/backstage/glukoza/"><img src="/img/backstages/glukoza/12.jpg"></a></div>
    <div class="item"><a href="{{ .Site.BaseURL }}/magazines/ekhromchenko/"><img src="/img/magazines/buro247/ekhromchenko/01.jpg"></a></div>
    <div class="item"><a href="{{ .Site.BaseURL }}/backstage/kira-plastilina/"><img src="/img/backstages/kira-plastinina/23.jpg"></a></div>
    <div class="item"><a href="{{ .Site.BaseURL }}/portraits/gigineishvili/"><img src="/img/portraits/gigineishvili/00.jpg"></a></div>
    <div class="item"><a href="{{ .Site.BaseURL }}/looks/ykaraulova/"><img src="/img/looks/ykaraulova/11.jpg"></a></div>
    <div class="item"><a href="{{ .Site.BaseURL }}/backstage/crocus/"><img src="/img/backstages/crocus/50.jpg"></a></div>
    <div class="item"><a href="{{ .Site.BaseURL }}/looks/butko/"><img src="/img/looks/butko/01.jpg"></a></div>
 -->
    <div class="item"><a href="#"><img src="/img/slider/01.jpg"></a></div>
    <div class="item"><a href="#"><img src="/img/slider/02.jpg"></a></div>
    <div class="item"><a href="#"><img src="/img/slider/03.jpg"></a></div>
    <!-- <div class="item"><a href="#"><img src="/img/slider/04.jpg"></a></div> -->
    <!-- <div class="item"><a href="#"><img src="/img/slider/05.jpg"></a></div> -->
    <!-- <div class="item"><a href="#"><img src="/img/slider/06.jpg"></a></div> -->
    <!-- <div class="item"><a href="#"><img src="/img/slider/07.jpg"></a></div> -->
    <div class="item"><a href="#"><img src="/img/slider/08.jpg"></a></div>
    <!-- <div class="item"><a href="#"><img src="/img/slider/09.jpg"></a></div> -->
    <div class="item"><a href="#"><img src="/img/campaigns/birki/11.jpg"></a></div>
    <div class="item"><a href="#"><img src="/img/slider/10.jpg"></a></div>
    <!-- <div class="item"><a href="#"><img src="/img/slider/11.jpg"></a></div> -->
    <div class="item"><a href="#"><img src="/img/slider/12.jpg"></a></div>
    <div class="item"><a href="#"><img src="/img/slider/13.jpg"></a></div>
    <div class="item"><a href="#"><img src="/img/slider/14.jpg"></a></div>
    <div class="item"><a href="#"><img src="/img/slider/15.jpg"></a></div>
    <div class="item"><a href="#"><img src="/img/slider/16.jpg"></a></div>
    <div class="item"><a href="#"><img src="/img/slider/17.jpg"></a></div>
    <div class="item"><a href="#"><img src="/img/slider/18.jpg"></a></div>
    <div class="item"><a href="#"><img src="/img/slider/19.jpg"></a></div>
    <div class="item"><a href="#"><img src="/img/slider/20.jpg"></a></div>
 </div>
