<div class="owl-carousel cap" style="display:none">
    <div class="item"><a href="{{ .Site.BaseURL }}/magazines/nmihalkova/"><figure class="cap-bot"><img src="/img/magazines/buro247/nmihalkova/01.jpg"></figure></a></div>
    <div class="item"><a href="{{ .Site.BaseURL }}/magazines/sivanova/"><figure class="cap-bot"><img src="/img/magazines/buro247/sivanova/01.jpg"></figure></a></div>
    <div class="item"><a href="{{ .Site.BaseURL }}/campaigns/brezhneva/"><figure class="cap-bot"><img src="/img/campaigns/peforgirls/brezhneva/01.jpg"></figure></a></div>
    <div class="item"><a href="{{ .Site.BaseURL }}/backstage/glukoza/"><figure class="cap-bot"><img src="/img/backstages/glukoza/01.jpg"></figure></a></div>
    <div class="item"><a href="{{ .Site.BaseURL }}/magazines/ekhromchenko/"><figure class="cap-bot"><img src="/img/magazines/buro247/ekhromchenko/01.jpg"></figure></a></div>
    <div class="item"><a href="{{ .Site.BaseURL }}/backstage/kira-plastilina/"><figure class="cap-bot"><img src="/img/backstages/kira-plastinina/01.jpg"></figure></a></div>
    <div class="item"><a href="{{ .Site.BaseURL }}/portraits/gigineishvili/"><figure class="cap-bot"><img src="/img/portraits/gigineishvili/00.jpg"></figure></a></div>
    <div class="item"><a href="{{ .Site.BaseURL }}/looks/ykaraulova/"><figure class="cap-bot"><img src="/img/looks/ykaraulova/08.jpg"></figure></a></div>
</div>
