<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
{{ partial "head" . }}
<body>
<!-- Навигационное меню -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {{ partial "nav" . }}
        </div>
        <div class="col-sm-12 splash">
            <!-- Текст, размещенный на заставке -->
            <h1>{{ .Site.Title }}</h1>
            <h1>{{ .Title }}</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 centered">
                    {{if .Params.banner }}
                    <a href="{{ .Params.banner }}" class="gallery-item" {{ with .Description }} title="{{ . }}" {{ end }}><img src="{{ if .Params.thumbnail }}{{ .Params.thumbnail }}{{ else }}{{.Params.banner }}{{ end }}" class="full-width" /></a>

                    {{ end }}

                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ partial "footer" . }}
{{ partial "js" . }}

<script>
    $('.owl-carousel').owlCarousel({
        margin: 10,
        loop: true,
        autoWidth: true,
        center: true,
        autoplay: true,
        autoplayTimeout: 10000,
        autoplayHoverPause: true
    });
</script>
<script type="text/javascript">
    $('.gallery-item').magnificPopup({
        type: 'image',
        gallery: {
            enabled: true
        }
    });
</script>

</body>
</html>